
:root {
  --verde-claro: #8b8e7d;
  --verde-oscuro: #314c40;
}

.navbar {
  display: flex;
  height: 4rem;
  background-color: var(--verde-claro);
  width: 100%;
  flex-wrap: wrap;
}

.navbar_courses {
  width: 90%;
  background-color: var(--verde-claro);
  display: flex;
  align-items: center;
}

.navbar_courses_button {
  height: 3rem;
  background-color: var(--verde-claro);
  color: var(--verde-oscuro);
  border: none;
  font-size: 1.5rem;
  margin-left: 4rem;
  text-decoration: underline;
  transition: .1s all;
}

.navbar_courses_button:hover {
  font-weight: bolder;
}

.navbar_profile {
  width: 10%;
  background-color: var(--verde-claro);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
